<section id="crm-login-container">
  <div class="auth-logo">
    <img src="assets/images/logo_big.png" alt="Profit Print">
  </div>
  <div class="well auth-panel" id="crm-login-panel">
    <form name="loginForm" action="$ctrl.login();" novalidate>
      <fieldset>
        <div class="form-group" ng-class="{'has-error' : loginForm.loginInput.$dirty && loginForm.loginInput.$invalid}">
          <input name="loginInput" type="text" class="form-control" placeholder="Имя пользователя"
                 ng-model="$ctrl.login" ng-required="true">
        </div>
        <div class="form-group" ng-class="{'has-error' : loginForm.passwordInput.$dirty && loginForm.passwordInput.$invalid}">
          <input name="passwordInput" type="password" class="form-control" placeholder="Пароль"
                 ng-model="$ctrl.password" ng-required="true">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" ng-disabled="loginForm.$invalid">Войти</button>
        </div>
      </fieldset>
    </form>
    <span><a ui-sref="executorRegister">Я новый пользователь</a></span>
  </div>
</section>
