#order-details-container {
  padding: 0;

  > div {
      padding: 0;
  }

  h4 {
    margin: 0;
  }
  hr {
    margin: 10px 0;
    border-top: 1px solid #CFDBE2;
  }

  .order-details-list {
    padding: 0;

    > div {
      margin-bottom: 10px;
      padding: 0;
    }
  }

  #order-operations {
    margin-top: 10px;

    > button {
      margin-right: 5px;
      border-radius: 0;
    }
  }
}

#order-files {
  th {
    padding-left: 8px;
    padding-right: 8px;
  }

  td {
    padding: 0 8px;
    vertical-align: middle;
    height: 40px;
    border-top: 0.5px solid #E7EAEC;
    border-bottom: 0.5px solid #E7EAEC;
  }


  .download-button {
    width: 35px;
    height: 35px;
    padding: 0;
    border-radius: 0;
  }
}
