.idea/
target/
*.iml
client_secret_153392051840-pkjrchj02fi1on7tud5djp75fuodm60q.apps.googleusercontent.com.json
backend/dotnet-service/ProfitPrintCore/.vs/
backend/dotnet-service/ProfitPrintCore/obj/
backend/dotnet-service/ProfitPrintCore/bin/
.vs/