#crm-menu {
  position: absolute;
  width: 250px;
  height: inherit;
  border-right: 1px solid #CFDBE2;
}

#crm-content {
  height: 100%;
  margin-left: 250px;
  background-color: #F3F3F4;
  //padding: 20px;

  .info-panel {
    background-color: white;
    border: 1px solid #CFDBE2;
    border-top-width: 3px;
    border-radius: 2px;
  }
}
