#crm-menu {
  position: absolute;
  width: 250px;
  height: inherit;
  border-right: 1px solid lightgrey;
}

#crm-content {
  height: 100%;
  margin-left: 250px;
  background-color: #F3F3F4;
  padding: 25px;
}
