<left-menu></left-menu>

<container class="container order-menu">
  <div class="col-lg-12 header">
    <h2>Новый заказ</h2>
  </div>

  <div class="col-lg-6 col-md-12 order-panel">
    <div id="executor-personal" class="container-fluid info-panel">
      <form class="form-horizontal" novalidate>
        <fieldset>
          <legend class="col-lg-12 col-md-12 order-legend">Общая информация</legend>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 control-label">Название</label>
            <div class="col-lg-10 col-md-10">
              <input class="form-control" type="text" placeholder="Введите название..." required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 control-label">Телефон</label>
            <div class="col-lg-10 col-md-10">
              <input class="form-control" type="text" placeholder="Введите телефон..." required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 control-label">E-mail</label>
            <div class="col-lg-10 col-md-10">
              <input class="form-control" type="text" placeholder="Введите e-mail..." required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 control-label">Веб-сайт</label>
            <div class="col-lg-10 col-md-10">
              <input class="form-control" type="text" placeholder="Введите веб-сайт..." required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 col-md-2 control-label">Описание</label>
            <div class="col-lg-10 col-md-10">
              <textarea class="form-control" type="text" placeholder="Введите описание..."/>
            </div>
          </div>
          <div class="form-group">
            <label id="worktime-label" class="col-lg-2 col-md-2 control-label">Время работы</label>
            <div class="col-lg-8 col-md-8">
              <div id="opentime" uib-timepicker ng-model="openTime" show-meridian="false"></div>
              <div uib-timepicker ng-model="closeTime" show-meridian="false"></div>
            </div>
          </div>
          <div class="form-group last-group">
            <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8">
              <button class="btn btn-success" type="submit">Обновить</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 order-panel">
    <div class="info-panel">
      <div class="google-map">
        <ng-map default-style="false" center="[53.917873, 27.589170]">
          <marker position="[53.917873, 27.589170]" on-click=""></marker>
        </ng-map>
      </div>
      <div class="input-group map-input">
        <input type="text" class="form-control" placeholder="Введите адрес...">
        <span class="input-group-btn">
          <button class="btn btn-success" type="button">Сохранить</button>
        </span>
      </div>
    </div>
  </div>
</container>
