$background-dashboard: #2d3e4f;
$background-dashboard-panel: #34475a;
$background-dashboard-menu: #283746;
$background-dashboard-border: #2d3e4e;
$dashboard-font: #dcdedf;

.order-menu {
  height: 100%;
  margin-left: 300px;
  position: absolute;
  background: $background-dashboard;
  padding: 0;
  max-width: calc(100% - 300px);
  width: calc(100% - 300px);
}

.date-picker-label{
  padding-top: 0;
}

.map-input {
  margin-top: 120px;
}

.order-panel {
  .order-legend{
    color: $dashboard-font;
  }
  background-color: $background-dashboard-panel;
  color: $dashboard-font;
  padding: 30px;
  margin: 30px 0 0 30px;
}

.google-map {
  height: 200px;
}
