$background-grey: #eaf1f1;
$background-dark: #2c3e50;
$font-color: #2c3e50;

header {

  width: 100%;
  min-height: 100%;
  background: url(../assets/images/main_first1.jpg) no-repeat center center fixed;
  background-size: cover;

  //position: relative;
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //text-align: center;

  #header-content {
    position: absolute;
    top: 50%;
    height: 300px;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;

    h1 {
      font-weight: 700;
      font-size: 2.5em;
      color: white;
      margin-bottom: 30px;
      padding: 0 50px;
    }

    h3 {
      font-weight: 700;
      font-size: 1.5em;
      color: white;
      margin-bottom: 30px;
      padding: 0 50px;
    }

    a {
      bottom: 0;
      transition: all .35s;
      font-size: 1.5em;
      border-radius: 40px;
    }

    .btn {
      border-style: none;
    }
  }
}

.grey-container {
  background: $background-grey;

  .grey-content {
    padding: 4em 0 3em;
    color: $font-color;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
  }
}

.dark-grey-content{
  padding: 4em 0 3em;
  background: $background-dark;
  color: white;
}

.main-footer {
  padding-top: 20px;

  .container {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -25px;

    .row {
      display: block;
    }
    .credits {
      text-align: center;
    }
  }
}
.main-content-icon {
  font-size: 4em;
}

.row {

  h2{
    text-align: center;
    margin-bottom: 50px;
  }
}

.line {
  height: 0px;
  border:solid 3px;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 100px;
}

.main-content-box {
  padding: 20px;
  h3 {
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.partnership-content-icon {
  font-size: 3em;
}

.advantages-icon {
  font-size: 6em;
  vertical-align: middle;
  position: absolute;
  left: 50%;
  margin-left: -42.5px;
}

.advantages-list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 50px;
  li {
    display: list-item;
    height: 100px;
    margin-bottom: 50px;
  }
}

.advantages-left-text {
  padding-left: 50px;
  width: 41%;
  float: left;
  text-align: right;
  .advantages-header-text {
    font-size: 2em;
  }
  p {
    font-size: 1.5em;
  }
}

.advantages-right-text {
  width: 41%;
  float: right;
  text-align: left;
  .advantages-header-text {
    font-size: 2em;
  }
  p {
    font-size: 1.5em;
  }
}

.order-button {
  margin: 30px 0 0 0;
  a {
    border-radius: 40px;
    font-size: 1.5em;
  }
}
