$background-grey: #eaf1f1;
$background-dark: #2c3e50;
$font-color: #2c3e50;

header {

  width: 100%;
  min-height: 100%;
  background: url(../assets/images/main_first1.jpg) no-repeat center center fixed;
  background-size: cover;

  //position: relative;
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //text-align: center;

  #header-content {
    position: absolute;
    top: 50%;
    height: 300px;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;

    h1 {
      font-weight: 700;
      font-size: 2.5em;
      color: white;
      margin-bottom: 30px;
      padding: 0 50px;
    }

    h3 {
      font-weight: 700;
      font-size: 1.5em;
      color: white;
      margin-bottom: 30px;
      padding: 0 50px;
    }

    a {
      bottom: 0;
      transition: all .35s;
      font-size: 1.5em;
    }

    .btn {
      border-style: none;
    }
  }
}

.main-content {
  background: $background-grey;

  .main-container {
    padding: 4em 0 3em;
    color: $font-color;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
  }
}

.pros-content{
  background: $background-dark;
  color: white;
}

.main-footer {
  background: $background-grey;
  padding-top: 20px;
  font-size: 1em;

  .container {
    width: 70%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    .row {
      display: block;
      padding-bottom: 2em;

      .menu {
        padding-right: 15px;
        padding-left: 15px;

        ul{
          list-style-type: none;
          padding-left: 0;
          li{
            cursor: pointer;

            a{
              font-weight:500;
              font-size:1.2em;
              &:hover {
                text-decoration: none;
                color: $font-color;
              }
            }
          }
        }
      }
    }

    .credits {
      text-align: center;
    }
  }
}
.main-content-icon {
  font-size: 4em;
}

.row {

  h2{
    text-align: center;
    margin-bottom: 50px;
  }
}

.line {
  border:solid 2px;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 100px;
}

.main-content-box {
  padding: 20px;
}
