<div class="customer-order-menu">
  <aside class="customer-menu">
    <div class="list-group customer-list-group">
      <div ui-sref="customer" class="list-group-item disable-user-select">
        <h2 class="side-bar-header">Profit Print</h2>
      </div>
      <div class="category disable-user-select default-cursor">
        <h4>Главное меню</h4>
      </div>
      <div ui-sref="" class="list-group-item profile-group-item text-center">
        <img class="profile-logo" src="../../../../assets/images/profile-logo.png">
        <h4 class="disable-user-select default-cursor">Васильев Александр</h4>
      </div>
      <a ui-sref="" class="list-group-item disable-user-select default-cursor">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        Заказы
      </a>
    </div>
  </aside>
</div>
