<div class="customer-order-menu">
  <aside class="customer-menu">
    <div class="list-group customer-list-group">
      <div ui-sref="customer" class="list-group-item">
        <h2>Profit Print</h2>
      </div>
      <div ui-sref="" class="list-group-item profile-group-item text-center">
        <img class="profile-logo" src="../../../../assets/images/profile-logo.png">
        <h4>Васильев Александр</h4>
      </div>
      <a ui-sref="" class="list-group-item">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        Заказы
      </a>
    </div>
  </aside>
</div>
