<div id="register-form-modal">
  <div class="modal-body">
    <div class="well bs-component">
      <form name="registerForm" class="form-horizontal" novalidate>
        <fieldset>
          <legend>Регистрация</legend>
          <div class="form-group" ng-class="{'has-error' : loginForm.loginInput.$dirty && loginForm.loginInput.$invalid}">
            <label for="inputLogin" class="col-lg-3 control-label">Логин</label>
            <div class="col-lg-9">
              <input name="inputLogin" type="text" class="form-control" id="inputLogin" placeholder="Введите логин" ng-model="$ctrl.login" ng-required="true">
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error' : loginForm.passwordInput.$dirty && loginForm.passwordInput.$invalid}">
            <label for="inputFirstName" class="col-lg-3 control-label">Имя</label>
            <div class="col-lg-9">
              <input name="inputFirstName" type="text" class="form-control" id="inputFirstName" placeholder="Введите имя" ng-required="true">
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error' : loginForm.passwordInput.$dirty && loginForm.passwordInput.$invalid}">
            <label for="inputLastName" class="col-lg-3 control-label">Фамилия</label>
            <div class="col-lg-9">
              <input name="inputLastName" type="text" class="form-control" id="inputLastName" placeholder="Введите фамилию" ng-required="true">
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error' : loginForm.passwordInput.$dirty && loginForm.passwordInput.$invalid}">
            <label for="inputEmail" class="col-lg-3 control-label">Email</label>
            <div class="col-lg-9">
              <input name="inputEmail" type="text" class="form-control" id="inputEmail" placeholder="Введите email" ng-required="true">
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error' : loginForm.passwordInput.$dirty && loginForm.passwordInput.$invalid}">
            <label for="inputPhone" class="col-lg-3 control-label">Моб. телефон</label>
            <div class="col-lg-9">
              <input name="inputPhone" type="text" class="form-control" id="inputPhone" placeholder="Введите моб.телефон" ng-required="true">
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error' : loginForm.passwordInput.$dirty && loginForm.passwordInput.$invalid}">
            <label for="inputPassword" class="col-lg-3 control-label">Пароль</label>
            <div class="col-lg-9">
              <input name="passwordInput" type="password" class="form-control" id="inputPassword" placeholder="Введите пароль" ng-required="true">
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error' : loginForm.passwordInput.$dirty && loginForm.passwordInput.$invalid}">
            <label for="inputConfirmPassword" class="col-lg-3 control-label">Подтверждение пароля</label>
            <div class="col-lg-9">
              <input name="inputConfirmPassword" type="password" class="form-control" id="inputConfirmPassword" placeholder="Подтвердите пароль" ng-required="true">
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">
              <button type="reset" class="btn btn-default" ng-click="$ctrl.cancel();">Отмена</button>
              <button type="submit" class="btn btn-success" ng-click="$ctrl.submit();" ng-disabled="loginForm.$invalid">Зарегистрироваться</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
