#crm-profile-container {
  padding: 0;
  height: calc(100% - 70px);
  overflow: auto;

  > div {
    padding: 0;
  }
}

#executor-picture {
  height: 264px;
}

#executor-coordinates {
  height: 300px;
}

#executor-personal {
  min-height: 565px;

  legend {
    text-align: center;
  }

  #worktime-label {
    padding-top: 35px;
  }

  .uib-timepicker {
    a {
      padding: 0;
    }

    input {
      width: 60px;
    }
    .hours {
      input {
        margin-right: 5px;
      }
    }
    .minutes {
      input {
        margin-left: 5px;
      }
    }
  }
}
