$executor-picture-block-height: 195px;
$executor-image-size: 100px;
$gmap-wrapper-height: 275px;
$executor-personal-block-min-height: 565px;
$timepicker-input-width: 63px;

#crm-profile-container {
  padding: 0;

  > div {
    padding: 0;
  }

  input, textarea, button {
    border-radius: 0;
  }
}

#executor-picture {
  height: $executor-picture-block-height;

  div {
    height: 100%;
    position: relative;
  }

  img {
    display: block;
    width: $executor-image-size;
    height: $executor-image-size;
    border-radius: 50%;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid lightgrey;
    background-color: lightgrey;
  }

  button {
    display: block;
    position: absolute;
    margin: auto;
    left: calc(50% - 50px);
    bottom: 0;
  }
}

#executor-address {
  #gmap-wrapper {
    height: $gmap-wrapper-height;
    margin-bottom: 15px;
  }

  ng-map {
    position: absolute;
    width: calc(100% - 62px);
    height: $gmap-wrapper-height;
  }

  #address-list {
    margin-top: 15px;
    height: calc(100% - #{$gmap-wrapper-height} - 75px);
    overflow: auto;

    .list-group-item {
      border-radius: 0;
    }
    ul {
      margin: 0;
      border-radius: 0;
    }
  }
}

#executor-personal {
  min-height: $executor-personal-block-min-height;

  legend {
    text-align: center;
  }

  #worktime-label {
    padding-top: 35px;
  }

  #opentime {
    .uib-timepicker {
      margin-right: 50px;
    }
  }

  .uib-timepicker {
    float: left;

    a {
      padding: 0;
    }

    input {
      width: $timepicker-input-width;
    }
    .hours {
      input {
        margin-right: 5px;
      }
    }
    .minutes {
      input {
        margin-left: 5px;
      }
    }
  }

  .last-group {
    margin-bottom: 0;
    margin-top: 30px;
  }
}
