<state-header></state-header>
<div id="crm-profile-container" class="container-fluid">
  <div class="col-lg-4 col-md-12">
    <div id="executor-picture" class="info-panel">

      <div>
        <img src="https://avatars1.githubusercontent.com/u/9005749?v=3&u=e9c9a74b23872b04acc95370c27c1d0c0e746063&s=400" alt="...">
      </div>

    </div>
    <div id="executor-coordinates" class="info-panel">
      ...
    </div>
  </div>
  <div class="col-lg-8 col-md-12">
    <div id="executor-personal" class="container-fluid info-panel">
      <form class="form-horizontal" novalidate>
        <fieldset>
          <legend class="col-lg-12 col-md-12">Общая информация</legend>
          <div class="form-group">
            <label class="col-lg-4 col-md-4 control-label">Название организации</label>
            <div class="col-lg-7 col-md-7">
              <input class="form-control" type="text" placeholder="Введите название..." required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 col-md-4 control-label">Телефон</label>
            <div class="col-lg-7 col-md-7">
              <input class="form-control" type="text" placeholder="Введите телефон..." required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 col-md-4 control-label">E-mail</label>
            <div class="col-lg-7 col-md-7">
              <input class="form-control" type="text" placeholder="Введите e-mail..." required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 col-md-4 control-label">Веб-сайт</label>
            <div class="col-lg-7 col-md-7">
              <input class="form-control" type="text" placeholder="Введите веб-сайт..." required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 col-md-4 control-label">Описание</label>
            <div class="col-lg-7 col-md-7">
              <textarea class="form-control" type="text" placeholder="Введите описание..."/>
            </div>
          </div>
          <div class="form-group">
            <label id="worktime-label" class="col-lg-4 col-md-4 control-label">Время работы</label>
            <div class="col-lg-7 col-md-7">
              <div id="opentime" uib-timepicker ng-model="openTime" show-meridian="false"></div>
              <div uib-timepicker ng-model="closeTime" show-meridian="false"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-offset-4 col-md-offset-4 col-lg-8 col-md-8">
              <button class="btn btn-success" type="submit">Обновить</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
