$auth-panel-width: 350px;
$login-panel-height: 207px;
$register-panel-height: 267px;
$auth-logo-width: 150px;
$auth-logo-height: 150px;

.auth-logo {
  margin: 0 auto 50px auto;
  width: $auth-logo-width;
  height: $auth-logo-height;

  img {
    width: $auth-logo-width;
    height: $auth-logo-width;
    border-radius: 4px;
  }
}

.auth-panel {
  margin: auto;
  padding: 20px;
  width: $auth-panel-width;
  box-shadow: 0 0 3px #CCC;
  border: 0.5px solid #dae5e8;
  border-radius: 0;

  button {
    width: 300px;
    margin-left: 3px;
    font-weight: bolder;
    font-size: 1.1em;
  }

  input {
    border-radius: 0;

    &::-webkit-input-placeholder {
      color: dimgrey;
    }
  }

  span {
    display: block;
    text-align: center;
    margin-top: 15px;
  }
}

#crm-login-panel {
  height: $login-panel-height;
}

#crm-register-panel {
  height: $register-panel-height;
}
