<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">Profit Print</a>
      <button type="button" class="navbar-toggle"
              ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a>Order</a></li>
        <li><a>Partnership</a></li>
        <li><a ng-click="$event.preventDefault(); $ctrl.openLoginModal();">Sign In</a></li>
        <li><a ng-click="$event.preventDefault(); $ctrl.openRegisterModal();">Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>
