<nav scroll id="customer-navbar" ng-class="{'transparent' : boolChangeClass}" class="navbar navbar-default navbar-fixed-top transparent">
  <div class="container-fluid">
    <div class="navbar-header">
      <a ui-sref="customer" class="navbar-brand disable-user-select default-cursor navbar-left">Profit Print</a>
      <button type="button" class="navbar-toggle"
              ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right disable-user-select default-cursor">
        <li><a ui-sref="customerNewOrderForm">Заказ</a></li>
        <li><a id="partnership-link" href="#partnership" du-smooth-scroll duration="750">Сотрудничество</a></li>
        <li><a ui-sref="customerPriceList">Цены</a></li>
        <li><a ng-click="$event.preventDefault(); $ctrl.openLoginModal();">Вход</a></li>
        <li><a ng-click="$event.preventDefault(); $ctrl.openRegisterModal();">Регистрация</a></li>
      </ul>
    </div>
  </div>
</nav>
